html,
body {
  width: 100%;
  height: 100%;
}

.page {
  background-color: #1b223c;
  min-height: 100vh;
  text-align: center;
  color: white;
  align-content: center;
  height: "100vh";
  min-height: "100vh";
}

.App {
  display: flex;
  background-color: #1b223c;
  justify-content: space-around;
  color: white;
}

@media (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}

.issues {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.issueCard {
  color: #1b223c;
  max-width: 100%;
  flex: 1 1 100%;
  margin: 1em;
  background-color: #fff;
  cursor: grab;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.repo-name {
  color: #fff;
  font-size: 0.8em;
  background-color: #ae92ca;
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 5px;
}

.repo-label {
  padding: 1em;
}
.repo-label:hover {
  background-color: #af92ca;
}

a,
a:visited {
  color: #1b223c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.timestamp {
  color: #4e5055;
  font-size: 10px;
  margin-top: 2em;
}

.avatarContainer {
  flex-basis: 30%;
  flex-grow: 0;
  padding: 1em;
  text-align: center;
}

.metaData {
  flex-basis: 70%;
  flex-grow: 0;
  padding: 1em;
}
