.App {
  text-align: center;
}

.App-header {
  background-color: #1b223c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.issueName {
  padding: 1em;
}
.issues {
  display: flex;
  flex-wrap: wrap;
}

.issueCard {
  color: #1b223c;
  flex: 1 1 100%;
  margin: 1em;
  max-width: 300px;
  background-color: #fff;

  cursor: grab;
}

.repo-name {
  color: #fff;
  font-size: 0.6em;
  background-color: #ae92ca;

  width: 50%;

  margin: 0 auto;
}
a,
a:visited {
  color: #1b223c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.priority-number {
  color: purple;
}
