.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b223c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.issues {
  display: flex;
  flex-wrap: wrap;
}

.issueCard {
  color: red;
  flex: 1 1 100%;

  margin: 1em;
  background-color: #e7e7fd;
  border-radius: 5px;
}

.repo-name {
  color: #1b223c;
  font-size: 0.6em;
}
a,
a:visited {
  color: #1b223c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.priority-number {
  color: purple;
}
